<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default ">
                <div class="panel-heading">Add Event</div>
                <div class="panel-body">
                    <form class="form-horizontal" method="POST" action="/events/edit/:id">
                        <div class="form-group">
                            <div class="col-md-6">
                                <input id="id" type="hidden" class="form-control" name="id" value="<%= obj.id %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="eventTitle" class="col-md-4 control-label">Event Title</label>
                            <div class="col-md-6">
                                <input id="eventTitle" type="text" class="form-control" name="newEventTitle" value="<%= obj.eventTitle %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="eventOrganizer" class="col-md-4 control-label">Event Organizer</label>
                            <div class="col-md-6">
                                <input id="eventOrganizer" type="text" class="form-control" name="newEventOrganizer" value="<%= obj.eventOrganizer %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dueDate" class="col-md-4 control-label">Due Date</label>
                            <div class="col-md-6">
                                <input id="dueDate" type="text" class="form-control" name="newDueDate" value="<%= obj.dueDate %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    Edit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  <h4><font color="red"><center><%= err %></center></br></font></h4>
</div>

<% include ../partials/footer %>
